<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<form method = "POST" >
        {% csrf_token %}

        <p>title: <input type="text" value="{{ book.title }}"  name="title" required></p>

<select name="Autor" required>
        <option value="">-- Autots --</option>
    {% for autor in autors %}
        <option value="{{ autor.id }}" {% if autor.id == book.Autor_id %}selected{% endif %}>
            {{ autor.firstn }} {{ autor.lastn }}
        </option>
    {% endfor %}
</select>

        <p>pages: <input type="text" value="{{ book.pages }}" name="pages" required></p>

        <p>price: <input type="number" value="{{ book.price }}" name="price" required></p>

        <p>desc: <input type="text" value="{{ book.desc }}" name="desc" required></p>


        <button type="submit">Сохранить</button>
            <a href="{% url 'book' %}">Back</a>
    </form>
</body>
</html>