<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Books</h1>
    {% for book in books %}
    <h2>Book# {{book.id}}</h2>
    {{book.title}} <br>
    {{book.Autor}}<br>
    {{book.pages}} <br>
    {{book.price}} <br>
    {{book.desc}} <br>
     <a href="{% url 'book_create' %}"><button>Book</button></a>
    <br>
    {% endfor %}

           


</body>
</html>