<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<form method = "POST" >
        {% csrf_token %}
        <p>title: <input type="text" name="title" required></p>

        <select name="Autor" id="">
            <option value=""></option>
        </select>

        <p>pages: <input type="text" name="pages" required></p>

        <p>price: <input type="number"  name="price" required></p>

        <p>desc: <input type="number"  name="desc" required></p>


        <button type="submit">Сохранить</button>
            <a href="{% url 'book' %}">Back</a>
    </form>
</body>
</html>