<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ book.title }}</title>
</head>
<body>
    <h1>Book # {{ book.id }}</h1>
    <p><strong>Title:</strong> {{ book.title }}</p>
    <p><strong>Author:</strong> {{ book.Autor }}</p>
    <p><strong>Pages:</strong> {{ book.pages }}</p>
    <p><strong>Price:</strong> {{ book.price }}</p>
    <p><strong>Description:</strong> {{ book.desc }}</p>

    <br>
    <a href="{% url 'book_update' book.id %}"><button>Update</button></a>
    <br>
    <a href="{% url 'book' %}"><button>Back to Books</button></a>
</body>
</html>